* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: poppins, sans-serif;
}

#root {
  height: 1000px;
  background-image: url("../img/bg-bunner-2.jpg");
  background-size: cover;
  position: relative;
}

#root #mainBlock {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3);
  overflow: auto;
}

#stickyHeader {
  height: 150px;
  width: 100%;
  background-color: rgba(115, 115, 115, 0.3);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
}

#stickyHeader .headerLogo {
  display: inline-block;
  text-decoration: none;
}

#stickyHeader .pestoLogo {
  margin: 45px;
  margin-left: 50%;
  display: inline-block;
  position: relative;
}

#stickyHeader .stickyMenu {
  list-style: none;
  width: 35%;
  display: inline-block;
  position: absolute;
  top: 40%;
  left: 32.5%;
}

#stickyHeader .stickyMenu ul {
  text-align: center;
}

#stickyHeader .stickyMenu li {
  display: inline;
  margin: 3%;
  cursor: pointer;
  font-size: 15px;
  line-height: 1.7;
  font-weight: 600;
  color: white;
  -webkit-transition: .5s;
  transition: .5s;
}

#stickyHeader .stickyMenu li:first-child {
  color: green;
}

#stickyHeader .stickyMenu li:hover {
  color: #41A451;
  text-shadow: 0 0 3px black;
}

#stickyHeader .bookNow {
  display: inline-block;
  position: absolute;
  right: 10%;
  top: 35%;
  padding: 12px 30px;
  font-size: 13px;
  line-height: 20px;
  font-weight: 600;
  background-color: white;
  cursor: pointer;
  -webkit-transition: .5s;
  transition: .5s;
}

#stickyHeader .bookNow:hover {
  background-color: black;
  color: white;
  text-decoration: none;
}

#welcomeBlock {
  height: 850px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#welcomeBlock .welcomeTextBox {
  text-align: center;
}

#welcomeBlock .welcomeTextBox .welcomeHeader {
  color: white;
  font-size: 70px;
  text-shadow: 0 0 10px black;
  font-family: 'pt serif';
  position: relative;
  z-index: 2;
}

#welcomeBlock .welcomeTextBox hr {
  margin-left: auto;
  margin-right: auto;
  width: 7.5%;
  height: 2px;
  border: none;
  background-color: white;
  margin-top: 5px;
  margin-bottom: 10px;
  position: relative;
  z-index: 999;
}

#welcomeBlock .welcomeTextBox .welcomeText {
  font-size: 17.5px;
  color: white;
  text-shadow: 0px 1px 1px black;
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.6;
  position: relative;
  z-index: 2;
}

#aboutUs {
  height: 600px;
  background-color: #f5f5f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

#aboutUs .aboutUsInner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
}

#aboutUs .aboutUsInner .chefPhotoBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#aboutUs .aboutUsInner .chefPhotoBox .backPhoto {
  display: inline-block;
  position: relative;
}

#aboutUs .aboutUsInner .chefPhotoBox .chefPhoto {
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 15%;
}

#aboutUs .aboutUsInner .aboutTextBlock {
  width: 45%;
  margin-left: 50px;
}

#aboutUs .aboutUsInner .aboutTextBlock * {
  margin-top: 5%;
  font-family: "Times New Roman", Times, serif;
}

#aboutUs .aboutUsInner .aboutTextBlock h1 {
  margin-top: 30%;
  font-weight: 600;
}

#aboutUs .aboutUsInner .aboutTextBlock p {
  font-size: 19px;
}

#aboutUs .reservationInnerBlock {
  height: 150px;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #ffffff;
  position: absolute;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 999;
  border-radius: 10px;
}

#aboutUs .reservationInnerBlock .reservationForm {
  width: 100%;
  text-align: initial;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#aboutUs .reservationInnerBlock .reservationForm * {
  margin-left: 10px;
  margin-right: 10px;
  border: none;
}

#aboutUs .reservationInnerBlock .reservationForm select {
  margin-left: 30%;
  border: none;
  font-size: 15px;
  padding: 5px;
  text-decoration: none;
}

#aboutUs .reservationInnerBlock .reservationForm select option {
  background-color: black;
  color: white;
}

#aboutUs .reservationInnerBlock .reservationForm .checkAvailability {
  text-align: center;
  padding: 15px;
  background-color: #282828;
  border: 1px #282828 solid;
  color: white;
  margin: 0;
  font-weight: bold;
  cursor: pointer;
}

#aboutUs .reservationInnerBlock .reservationForm .checkAvailability:hover {
  background-color: #41A451;
  border-color: #41A451;
}

#aboutUs .reservationInnerBlock .title {
  display: inline-block;
  width: 15%;
}

#aboutUs .reservationInnerBlock .title input {
  color: black;
  font-size: 19px;
  border: none;
}

#aboutUs .reservationInnerBlock .title ::-webkit-input-placeholder {
  color: black;
}

#aboutUs .reservationInnerBlock .title :-ms-input-placeholder {
  color: black;
}

#aboutUs .reservationInnerBlock .title ::-ms-input-placeholder {
  color: black;
}

#aboutUs .reservationInnerBlock .title ::placeholder {
  color: black;
}

#aboutUs .reservationInnerBlock p {
  font-size: 18px;
  color: #696969;
}
/*# sourceMappingURL=main.css.map */